<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
</head>

<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="@{/form}" th:object="${cliente}" method="post">
		<table>

			<tr>
				<td>Nombre</td>
				<td><input type="text" th:field="*{nombre}" /></td>
				<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
			</tr>
			<tr>
				<td>Apellido</td>
				<td><input type="text" th:field="*{apellido}" /></td>
				<small th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="email" th:field="*{email}" /></td>
				<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
			</tr>
             
             <tr>
				 <td><input type="submit" value="Crear Cliente"/></td>
			 </tr>
		</table>
		<input type="hidden" th:field="*{id}" />
	</form>
</body>

</html>